[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:jherdman/oh-my-zsh.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = http://github.com/markabe/bufexplorer.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = http://github.com/skammer/vim-css-color.git
